<div>
  {% if rooms%} {% for room in rooms %}
  <div>
    {% if request.user == room.host %}
    <a href="{% url 'update-room' room.id %}" class="text-blue-500">Edit</a>
    <a href="{% url 'delete-room' room.id %}" class="text-red-500">Delete</a>
    {% endif %} {% comment %} can access deeper attributes because of the
    relationship {% endcomment %} {% comment %} use url name which is the 'room'
    {% endcomment %}
    <a href="{%url 'profile' room.host.id%}">@{{room.host.username}}</a>
    <a href="{% url 'room' room.id %}" class="underline">
      <h3>{{room.id}} -- {{room.name}}</h3>
    </a>
    <small>{{room.topic.name}}</small>
  </div>
  {% endfor %} {%endif%}
</div>
