{% extends 'main.html'%} {% block content %} {% if username %}
<h1>Hello {{username}}</h1>
{% endif %}
<div class="grid grid-cols-3">
  <!-- 1st Grid -->
  <div class="h-screen border border-white">
    {% include 'base/topics_component.html'%}
  </div>
  <!-- 2nd Grid -->
  <div class="flex flex-col border border-white">
    <h5>
      {{room_count}} {% if room_count > 1 %} rooms available {%else %} room
      available {% endif %}
    </h5>
    <a class="text-black bg-white w-40" href="{% url 'create-room' %}"
      >Create Room</a
    >
    {% include 'base/feed_component.html'%}
  </div>
  <!-- 3rd Grid -->
  <div class="border border-white">
    {% include 'base/activity_component.html' %}
  </div>
</div>

{% endblock %}
