{% extends 'main.html' %} {% block content %} {% if page == 'login' %}
<div>
  <form action="" method="post" class="text-white flex flex-col gap-4">
    {% csrf_token %}
    <div class="w-[50%] mx-auto">
      <label for="username">Enter Username: </label>
      <input
        type="text"
        name="username"
        id="username"
        class="text-black"
        placeholder="Enter Username"
      />
    </div>
    <div class="w-[50%] mx-auto">
      <label for="password">Enter Password: </label>
      <input
        type="password"
        name="password"
        id="password"
        class="text-black"
        placeholder="Enter Password"
      />
    </div>
    <input
      type="submit"
      value="Log In"
      class="border border-white p-1 w-[50%] mx-auto"
    />
  </form>

  <p>haven't signed up yet?</p>
  <a href="{% url 'register' %}">Sign Up</a>
</div>
{% else %}
<div>
  <form action="" method="post" class="text-black bg-white flex flex-col gap-4">
    {% csrf_token %} {{form.as_p}}
    <input
      type="submit"
      value="Register"
      class="border border-white p-1 w-[50%] mx-auto"
    />
  </form>
  <p>Already Signed Up?</p>
  <a href="{% url 'login' %}">Log In</a>
</div>
{% endif %} {% endblock content %}
